.schedule-btn-container {
  display: flex;
  gap: 10px;
  position: absolute;
  z-index: 1;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}
.schedule-btn {
  width: 200px;
  height: 160px;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  /* border: 2px solid #3b90f9; */
  border: none;
  border-radius: 30px;
  background-color: #ffffff;
  background-color: #036fdc;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.schedule-btn__icon {
  margin-right: 10px;
  font-size: 22px;
  transition: transform 0.3s ease;
}

.schedule-btn__text {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.schedule-btn:hover {
  background-color: #5ba4fc;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.schedule-btn:hover .schedule-btn__icon {
  transform: scale(1.5);
}
