.schedule-btn {
  width: 200px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}

.schedule-btn__icon {
  margin-right: 10px;
  font-size: 22px;
  transition: transform 0.3s ease;
}

.schedule-btn__text {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.schedule-btn:hover {
  background-color: #5ba4fc;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.schedule-btn:hover .schedule-btn__icon {
  transform: scale(1.5);
}
