.container_textbox {
	font-family: "Nanum Gothic", sans-serif;
	text-align: center;
	margin-top: 70px;
}
.title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #232323;
	margin-top: 15px;
	padding-bottom: 10px;
}
.text {
	font-size: 15px;
	font-weight: 400;
	color: #787878;
}
/* .main-wrap {
	max-width: 800px;
	width: 100%;
	height: 100%;
} */
.trip {
	position: relative;
	display: flex;
	margin: 40px auto;
	justify-content: center;
	align-items: center;
}

.trip_style {
	justify-content: center;
	max-width: 800px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	padding-top: 35px;
}
.trip_style .checkbox_item {
	max-width: 800px;
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	box-sizing: border-box;
}

.checkbox_item input {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}
.checkbox_item label {
	display: flex;
	width: 256px;
	height: 50px;
	cursor: pointer;
	background-color: #f5f4f4;
	border-radius: 25px;
	border: none;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-family: "Nanum Gothic", sans-serif;
	font-weight: 400;
	color: #181818;
}

.checkbox_item .citytext.active {
	font-family: "Nanum Gothic", sans-serif;
	font-weight: 700;
	background-color: #e7e7e7;
	border: 2px solid #368fff;
	color: var(--color_button_box);
}
/* .city-next-button {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	display: block;
	font-size: 14px;
	font-family: "Nanum Gothic", sans-serif;
	font-weight: 400;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px 0 30px;
	background-color: rgb(255, 255, 255);
}
.city-next-button button {
	width: 100%;
	height: 40px;
	border: none;
	border-radius: 10px;
	color: #181818;
	text-align: center;
	cursor: pointer;
}

.city-next-button.active button {
	background-color: var(--color_button_box);
	color: #e7e7e7;
	font-family: "Nanum Gothic", sans-serif;
	font-weight: 700;
} */
